body {
    font-family: Arial;
    margin: 0;
    background: #ffe6f2;
}

header {
    background: #ff4da6;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #ff80c1;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.noticia {
    background: white;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 20px;
    border-left: 5px solid #ff4da6;
}

.form {
    width: 400px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 7px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button, .btn {
    background: #ff4da6;
    border: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.btn-danger {
    background: #cc0000;
}

.erro {
    color: red;
    font-weight: bold;
}
